In [3]:
import pandas as pd
data = pd.read_csv("C:/Users/Soumya/Desktop/DataFiles/Company1.csv")
print(data)

    EEID      Name Gender   Salary
0  EMP01    Ayushi      F      NaN
1  EMP02     Rohit      M  25000.0
2  EMP03  Pranjali    NaN  27000.0
3  EMP01    Ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     Rohit      M      NaN
6  EMP02     Rohit      M  25000.0

In [4]:
print(data.isnull())

    EEID   Name  Gender  Salary
0  False  False   False    True
1  False  False   False   False
2  False  False    True   False
3  False  False   False   False
4  False   True   False   False
5  False  False   False    True
6  False  False   False   False

In [5]:
print(data["Salary"].mean())

24400.0

In [8]:
#print(data)
#print(data.fillna(method = "bfill")) # Backward fill- below values are copied into NaN
# OR use as below
print(data.bfill()) # below values are copied upwards

    EEID      Name Gender   Salary
0  EMP01    Ayushi      F  25000.0
1  EMP02     Rohit      M  25000.0
2  EMP03  Pranjali      F  27000.0
3  EMP01    Ayushi      F  20000.0
4  EMP05     Rohit      M  25000.0
5  EMP06     Rohit      M  25000.0
6  EMP02     Rohit      M  25000.0

In [7]:
print(data.ffill()) # Forward fill - Upward values are copied into NaN

    EEID      Name Gender   Salary
0  EMP01    Ayushi      F      NaN
1  EMP02     Rohit      M  25000.0
2  EMP03  Pranjali      M  27000.0
3  EMP01    Ayushi      F  20000.0
4  EMP05    Ayushi      M  25000.0
5  EMP06     Rohit      M  25000.0
6  EMP02     Rohit      M  25000.0

In [9]:
print(data.describe())

             Salary
count      5.000000
mean   24400.000000
std     2607.680962
min    20000.000000
25%    25000.000000
50%    25000.000000
75%    25000.000000
max    27000.000000