In [45]:
import pandas as pd

data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age":[34,56,23,44,32,36]}
data2 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Salary":[45000,56000,34000,30000,50000,62000]}
data3 = {"Emp Id":["E01","E07","E03","E04","E08","E06"],
        "Salary":[45000,56000,34000,30000,50000,62000]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

print(df1)
print(df2)
print(df3)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   30000
4    E05   50000
5    E06   62000
  Emp Id  Salary
0    E01   45000
1    E07   56000
2    E03   34000
3    E04   30000
4    E08   50000
5    E06   62000

In [44]:
#print(pd.merge(df1,df2,on = "Emp Id"))
#Shift+tab - to get signature of merge()
#merging df1 & df2 on basis of Emp Id
#Using Merge Inner JOIN -  Returns a DataFrame containing only the common records between the two DataFrames.

print(pd.merge(df1,df3,on = "Emp Id", how = "inner"))
#Using Merge Left Join - Returns a DataFrame containing all records from the left DataFrame (df1), and the matching records from the right DataFrame (df3).
print(pd.merge(left = df1,right = df3,on = "Emp Id", how = "left"))
#Using Merge Right Join - Returns a DataFrame containing all records from the right DataFrame (df3), and the matching records from the left DataFrame (df1).
print(pd.merge(left = df1,right = df3,on = "Emp Id", how = "right"))
#Using Merge Outer Join -  Returns a DataFrame containing all records from both DataFrames, filling in missing values with NaN.
pd_outer = pd.merge(df1,df3,on = "Emp Id", how = "outer")
print(pd_outer)

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E03   Rahul   23   34000
2    E04  Vishal   44   30000
3    E06    John   36   62000
  Emp Id   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   56      NaN
2    E03   Rahul   23  34000.0
3    E04  Vishal   44  30000.0
4    E05    Ravi   32      NaN
5    E06    John   36  62000.0
  Emp Id   Names   Age  Salary
0    E01     Ram  34.0   45000
1    E07     NaN   NaN   56000
2    E03   Rahul  23.0   34000
3    E04  Vishal  44.0   30000
4    E08     NaN   NaN   50000
5    E06    John  36.0   62000
  Emp Id   Names   Age   Salary
0    E01     Ram  34.0  45000.0
1    E02   Shyam  56.0      NaN
2    E03   Rahul  23.0  34000.0
3    E04  Vishal  44.0  30000.0
4    E05    Ravi  32.0      NaN
5    E06    John  36.0  62000.0
6    E07     NaN   NaN  56000.0
7    E08     NaN   NaN  50000.0

In [40]:
#The main difference between pd.merge() and pd.join() is that 
# pd.merge() operates on one or more columns, 
# while pd.join() operates on the index of the DataFrames.
import pandas as pd

# Create the first DataFrame
data1 = {'Name': ['John', 'Jane', 'Bob', 'Alice'],
         'Age': [25, 30, 35, 40],
         'City': ['New York', 'London', 'Paris', 'Tokyo']}

df1 = pd.DataFrame(data1)
df1 = df1.set_index('Name')
print(df1)

data2 = {'salary':[50000, 60000, 70000, 80000]}
df2 = pd.DataFrame(data2)
df2 = df2.set_index('salary')

## Joining DataFrames using pd.join()

### Inner Join
print("INNER JOIN")
df_inner = df1.join(df2, how="inner")
print(df_inner)

### Outer Join -  Includes all rows from both DataFrames, filling in missing values with NaN.
print("OUTER JOIN")
df_outer = df1.join(df2, how="outer")
print(df_outer)

### Left Join - Returns a DataFrame containing all records from the left DataFrame (df1), 
# and the matching records from the right DataFrame (df2).
print("LEFT JOIN")
df_left = df1.join(df2, how='left')
print(df_left)
"""
         Age      City
Name                         
Alice    40.0     Tokyo
Bob      35.0     Paris
Jane     30.0    London
John     25.0  New York
"""

### Right Join - Returns a DataFrame containing all records from the right DataFrame (df2),
# and the matching records from the left DataFrame (df1).
print("RIGHT JOIN")
df_right = df1.join(df2, how='right')
print(df_right)
"""
        Age City
salary          
50000   NaN  NaN
60000   NaN  NaN
70000   NaN  NaN
80000   NaN  NaN
"""

       Age      City
Name
John    25  New York
Jane    30    London
Bob     35     Paris
Alice   40     Tokyo
INNER JOIN
Empty DataFrame
Columns: [Age, City]
Index: []
OUTER JOIN
        Age      City
50000   NaN       NaN
60000   NaN       NaN
70000   NaN       NaN
80000   NaN       NaN
Alice  40.0     Tokyo
Bob    35.0     Paris
Jane   30.0    London
John   25.0  New York
LEFT JOIN
       Age      City
Name
John    25  New York
Jane    30    London
Bob     35     Paris
Alice   40     Tokyo
RIGHT JOIN
        Age City
salary
50000   NaN  NaN
60000   NaN  NaN
70000   NaN  NaN
80000   NaN  NaN

In [19]:
import pandas as pd

data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age":[34,56,23,44,32,36]}
data2 = {"Emp Id":["E07","E08","E09","E010","E011","E012"],
        "Names":["bittu","chintu","pappu","chotu","bunty","golu"],
        "Age":[34,56,23,44,32,36]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
  Emp Id   Names  Age
0    E07   bittu   34
1    E08  chintu   56
2    E09   pappu   23
3   E010   chotu   44
4   E011   bunty   32
5   E012    golu   36

In [21]:
print(pd.concat([df1,df2]))
#to concatenate - we should have 2 similar Dataframes

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
0    E07   bittu   34
1    E08  chintu   56
2    E09   pappu   23
3   E010   chotu   44
4   E011   bunty   32
5   E012    golu   36